CloudBackEnd/IoTDemoWeb/AzureStorage.Context/bin/
CloudBackEnd/IoTDemoWeb/AzureStorage.Context/obj/
CloudBackEnd/IoTDemoWeb/IoTDemo.WebJob/bin/Debug/Autofac.Integration.WebApi.dll
CloudBackEnd/IoTDemoWeb/IoTDemo.WebJob/obj/
CloudBackEnd/IoTDemoWeb/IoTDemoMobileApp/bin/
CloudBackEnd/IoTDemoWeb/IoTDemoMobileApp/obj/Debug/
CloudBackEnd/IoTDemoWeb/IoTDemo.WebJob/bin/Debug/Autofac.Integration.WebApi.xml
CloudBackEnd/IoTDemoWeb/IoTDemo.WebJob/bin/
CloudBackEnd/IoTDemoWeb/IoTDemoWeb/bin/
CloudBackEnd/IoTDemoWeb/IoTDemoWeb/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CloudBackEnd/IoTDemoWeb/IoTDemoWeb/obj/Debug/IoTDemoWeb.csproj.FileListAbsolute.txt
CloudBackEnd/IoTDemoWeb/IoTDemoWeb/obj/
